* {
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

/* contact */
#tittle .fw-bolder {
    font-size: 3.7vw;
    text-align: center;
}

#caontainerteks2 .fs-4 p {
    font-size: 1.5vw;
    color: #928a97;
}

#alamat .fs-4 p {
    font-size: 1.2vw;
    margin-top: -1em;
}

#alamat .fs-1 p {
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 1em;
}

@media (max-width: 1000px) {
    #tittle .fw-bolder {
        font-size: 5vw;
        /* margin-left: 0.6em; */
    }

    #caontainerteks2 .fs-4 p {
        font-size: 3vw;
        margin-left: 1.5em;
    }

    #alamat {
        text-align: left;
    }

    #alamat .fs-4 p {
        font-size: 3vw;
        margin-left: 0.7em;
        margin-top: -1em;
    }

    #alamat .fs-1 p {
        font-weight: bold;
        font-size: 3vw;
        margin-left: 0.65em;
    }

    /* #caontainerteks .fs-4 {
        font-size: 5vw;
    } */

    iframe {
        justify-items: center;
        width: 80vw;
        height: 25vh;
        margin-left: 1.5em;
        margin-top: -2em;
    }
}
