* {
    max-width: 100%;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

.headline-text {
    position: absolute;
    color: #fff;
    top: 35%;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "ABeeZee";
    font-size: 55px;
}

/* homecon */
#homecon {
    background-color: #f2f3f5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    padding-bottom: 2em;
}

#homecon .container-fluid {
    padding: 1.5em 0em;
    margin-bottom: 1em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: #fff;
    width: 70%;
    height: auto;
    border-radius: 0.25em;
    box-shadow: 0em 0.063em 0.5em 0em #b6bec6;
}
#homecon .popup-card {
    width: 30%;
    top: 30%;
    right: 12%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: 0em 0.063em 0.5em 0em #b6bec6;
    border-radius: 0.25em;
    align-items: center;
    position: absolute;
    padding: 1em;
}

#homecon .container-fluid-top {
    padding: 0em 2em;
    height: 100%;
    width: 100%;
}
#homecon .img-fluid {
    z-index: 0;
}

#homecon h1 {
    text-align: center;
    font-family: "ABeeZee";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    padding: 0.3em 0em;
}

#homecon h4 {
    font-family: "Trebuchet MS";
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
}

#homecon p {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#homecon a {
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#homecon .container-fluid-bot {
    margin-top: 5em;
    text-align: right;
    height: 100%;
    width: 100%;
}

/* homecon2 */
#homecon2 {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

#homecon2 .tittle {
    text-align: center;
    font-family: "ABeeZee";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding: 1em 0em;
}

#homecon2 .container-fluid-3 {
    flex-direction: row;
    padding: 0em 16.8em;
    display: flex;
    width: 100%;
    height: 100%;
}
#homecon2 .container-fluid-3 {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
}

#homecon2 .container-fluid {
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#homecon2 .container-fluid-3a {
    margin-top: 6em;
    text-align: left;
    width: 100%;
    height: 100%;
}

#homecon2 .container-fluid-3b {
    text-align: right;
    width: 100%;
    height: 100%;
}

#homecon2 h4 {
    font-family: "Trebuchet MS";
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
}

#homecon2 p {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#homecon2 a {
    text-decoration: none;
    color: black;
}

/* homecon4 */
#homecon4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#homecon4 a {
    text-decoration: none;
    color: black;
}

#homecon4 a p {
    text-decoration: underline;
    color: black;
}

#homecon4 .container-fluid-title {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

#homecon4 .tittle {
    text-align: center;
    font-family: "ABeeZee";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

#homecon4 .container-fluid-5 {
    width: 72%;
    height: 100%;
    flex-grow: 0;
    flex-basis: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 1.5em;
}

#homecon4 .container-fluid-51b img {
    width: 50%;
    height: 100%;
}

#homecon4 .container-fluid-5a img {
    width: 100%;
}

#homecon4 .container-fluid-5b {
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 1.5em;
}
#homecon4 .container-fluid-51b {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    background-color: #f2f3f5;
}

#homecon4 .container-fluid {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#homecon4 .container-fluid-5a {
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
    flex-direction: column;
    display: flex;
    background-color: #f2f3f5;
}

#homecon4 .container-fluid-51a {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#homecon4 .container-fluid-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

#homecon4 h4 {
    font-family: "Trebuchet MS";
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
}
#homecon4 p {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
#homecon4 a {
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: auto;
    height: 100%;
    margin-top: 3.5em;
}

#outcon {
    margin-top: 2em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#outcon .container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#outcon .box {
    text-decoration: none;
    width: calc(50% - 2em); /* Adjust the width and margin */
    text-align: center;
}

#outcon .box img {
    width: 100%; /* Ensure the image takes the full width of the container */
}

#outcon .container .box h4 {
    margin-top: 0.8em;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#outcon .box p {
    color: black;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #0091dc;
}

@media (max-width: 1000px) {
    body {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }

    /* navbar */
    .navbar .navbar-brand {
        margin-left: 0em;
    }

    .navbar a {
        text-align: center;
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #gap {
        height: 1em;
    }

    .headline-text {
        display: none;
        position: relative;
        top: 100%;
        z-index: 1;
        font-size: 55px;
        text-decoration: underline;
    }

    /* homecon */
    #homecon .container-fluid {
        margin-bottom: 1em;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 0.25em;
        box-shadow: 0em 0.063em 0.5em 0em #b6bec6;
    }

    #homecon .container-fluid-top {
        height: auto;
        width: 100%;
    }

    #homecon h1 {
        text-align: center;
        font-family: "ABeeZee";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        padding: 0.3em 0em;
    }

    #homecon h4 {
        font-family: "Trebuchet MS";
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
    }

    #homecon p {
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #homecon a {
        text-align: center;
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #homecon .container-fluid-bot {
        margin-top: 2em;
        text-align: right;
        height: 100%;
        width: auto;
    }

    /* homecon2 */
    #homecon2 {
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
    }

    #homecon2 .tittle {
        text-align: center;
        font-family: "ABeeZee";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        height: 100%;
    }

    #homecon2 .container-fluid-3 {
        flex-direction: row;
        padding: 0em 0em;
        display: block;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #homecon2 .container-fluid {
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #homecon2 .container-fluid-3a {
        margin-top: 1em;
        text-align: left;
        width: 100%;
        height: 100%;
    }

    #homecon2 .container-fluid-3b {
        text-align: right;
        width: 100%;
        height: 100%;
    }

    #homecon2 h4 {
        font-family: "Trebuchet MS";
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
    }

    #homecon2 p {
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #homecon2 a {
        text-align: center;
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #homecon2 .container-fluid-3b {
        margin-top: 2em;
        text-align: right;
        height: 100%;
        width: auto;
    }

    #homecon2 .row {
        flex-direction: column;
    }

    /* homecon4 */
    #homecon4 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 3em;
        margin-bottom: 4em;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    #homecon4 .container-fluid-title {
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        margin-bottom: 1em;
    }

    #homecon4 .tittle {
        text-align: center;
        font-family: "ABeeZee";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        height: 100%;
    }

    #homecon4 .container-fluid-5 {
        width: 100%;
        height: 100%;
        flex-grow: 0;
        flex-basis: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 1.5em;
    }

    #homecon4 .container-fluid-5b {
        flex-direction: column;
        display: flex;
        width: 100%;
        gap: 1.5em;
    }
    #homecon4 .container-fluid-51b {
        width: 100%;
        height: 100%;
        flex-direction: row;
        display: flex;
        background-color: #f2f3f5;
    }

    #homecon4 .container-fluid {
        width: 100%;
        height: 100%;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    #homecon4 .container-fluid-5a {
        width: 100%;
        height: 100%;
        padding-bottom: 2em;
        flex-direction: column;
        display: flex;
        background-color: #f2f3f5;
    }

    #homecon4 .container-fluid-51a {
        width: 100%;
        height: 100%;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    #homecon4 .container-fluid-btn {
        margin-top: 2em;
        text-align: right;
        height: 100%;
        width: auto;
    }

    #homecon4 h4 {
        font-family: "Trebuchet MS";
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
    }

    #homecon4 p {
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #homecon4 a {
        text-align: center;
        font-family: "Trebuchet MS";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #outcon {
        margin-top: 1em;
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}
